body {
  margin: 20px;
}
.book-info {
  padding: 10px;
  margin: 20px;
}
.book-title {
  font-weight: bolder;
}
.book-author {
  color: red;
}
.book-cover {
  max-width: 100px;
  box-shadow: 1px 1px 1px 1px #a7a7a7;
}
#hide-show {
  cursor: pointer;
  margin: 4px;
  margin-left: 10px;
  color: rgb(190, 188, 207);
}